{% load static %}

<link rel="stylesheet" href="{% static 'polls/style_login.css' %}">

<html>
<body>
  <div class="border">
    <h2 class="login">Login</h2>
      <form method="POST">
        {% csrf_token %}
        <table style="padding: 2ex;" class="login">
        {{ form.as_table }}
        </table>
        <button type="submit" class="login_button">Login</button>
        <input type="hidden" name="next" value="{{next}}"/>
      </form>
      {# If you have a password_reset template, then add here #}
    <p> <a href="{% url 'password_reset' %}" class="reset">Forgot password?</a> </p>
    <a href="http://localhost:8000/signup/">  SignUp  </a>
  </div>
</body>

</html>

{% load static %}
<link rel="stylesheet" href="{% static 'polls/style_login.css' %}">