.question {
    padding: 100px 50px 50px 200px;
}

.list_question {
  color: white;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1em;
  font-size: 24px;
  line-height: 4;
  background: #850E35;
  border-radius: 25px;
}

.result {
  color: black;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  font-size: 20px;
  line-height: 4;
  background: #F7E5DF;
  border-radius: 25px;
}

.vote {
  color: black;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
  font-size: 20px;
  line-height: 4;
  background: #F7E5DF;
  border-radius: 25px;
}

.list_question:hover {
  text-decoration: underline;
}

.list_question:active {
  color: black;
}

body {
    background-color: #E6C3BF;
}

.message {
    color: #F8ECD1;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 1.5em;
    font-size: 24px;
    line-height: 4;
    background: #820000;
    border-radius: 25px;
    padding: 10px 50px 10px 450px;
}